@font-face {
  font-family: "PTSans";
  src: url("font/PTSans-Regular.ttf");
}
@font-face {
  font-family: "PTSans";
  src: url("font/PTSans-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "PTSans";
  src: url("font/PTSans-Italic.ttf");
  font-style: italic;
}
@font-face {
  font-family: "PTSans";
  src: url("font/PTSans-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}
* {
 font-family: "PTSans", sans-serif;
 color: #FFFFFF;
}
h1 {
font-size: xxx-large;
font-weight: bold;
}
h2 {
  font-size: xx-large;
}
h3 {
  color: #FFFFFF;
}
label {
  color: #FFFFFF;
}
p {
  color: #FFFFFF;
}
a {
  color: #1DB954;
  text-decoration: none;
}
a:hover {
  color:#264040;
}
body {
  background-color: #191414;
}
input[type=text] {
  background-color: #191414;
  color: #FFFFFF;
  border: none;
  border-bottom: 2px solid #1DB954;
}

@media only screen and (min-width: 1001px) {
    input[type=submit] {
        background-color: #1DB954;
        color: #FFFFFF;
        border: none;
        width: 100px;
        border-radius: 15px;
    }

    .framedFirst {
        background: linear-gradient(to right, #1DB954, #B2FF59);
        height: 380px;
        margin: 0 auto;
        display: block;
        padding: 8px;
        border: none;
        border-radius: 15px;
        frameborder: 2px;
        vertical-align: top;
    }

    .framedLast {
        background: linear-gradient(to left, #1DB954, #B2FF59);
        height: 380px;
        margin: 0 auto;
        display: block;
        padding: 8px;
        border: none;
        border-radius: 15px;
        frameborder: 2px;
        vertical-align: top;
    }
}

@media only screen and (max-width: 1000px) {

    input[type=submit] {
        background-color: #1DB954;
        color: #000000;
        border: none;
        width: 100px;
        border-radius: 15px;
    }

    .framedFirst {
        background: linear-gradient(to bottom, #1DB954, #B2FF59);
        height: 152px;
        margin: 0 auto;
        display: block;
        padding: 8px;
        border: none;
        border-radius: 15px;
        frameborder: 2px;
        vertical-align: top;
    }

    .framedLast {
        background: linear-gradient(to top, #1DB954, #B2FF59);
        height: 152px;
        margin: 0 auto;
        display: block;
        padding: 8px;
        border: none;
        border-radius: 15px;
        frameborder: 2px;
        vertical-align: top;
    }
}
